.intro {
  margin-top: 30px;
}

.intro h1 {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 5rem;
  padding: 0 !important;
}

.intro .more-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.intro .more-details .hello {
  font-size: 0.8rem;
}

.intro .more-details .name {
  font-size: 2rem;
  font-weight: bold;
}

.intro .more-details .profession {
  font-size: 0.8rem;
  color: rgba(197, 191, 191, 0.5);
}

.intro .more-details .cv-area {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  position: relative;
  cursor: pointer;
  border: solid 1px var(--secondary);
  border-radius: 5px;
  margin-top: 10px;

  transition: all 0.7s linear;
}

.intro .more-details .cv {
  padding: 2px 5px;
  font-size: 0.9rem;
}

.intro .more-details .cv-area ul {
  display: none;
  position: absolute;
  margin-top: 25px;
  background-color: var(--transparent-dark);
  width: 100%;
  z-index: 10000;
}

.intro .more-details .cv-area ul li {
  list-style-type: none;
  font-size: 0.8rem;
  margin: 0 auto;
}

.intro .more-details .cv-area ul a {
  display: block;
  border-bottom: solid 0.5px var(--gray);
  padding: 5px 10px;
}

.intro .more-details .cv-area ul li:hover {
  color: var(--danger);
}

.intro .more-details .cv-area ul a:last-child {
  border: none;
}

.intro .more-details .cv-area:hover .test {
  display: block;
}

.intro .image-others {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.intro .image-others > div:nth-child(1) {
  background-color: var(--danger);
}

.intro .image-others .my-image-wrapper {
  border-radius: 30px;
  height: 45vh;
  width: 45vh;
}

.intro .image-others .image {
  height: 100%;
  transform: rotateZ(10deg);
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    var(--transparent-dark),
    var(--secondary),
    var(--gray),
    var(--primary),
    var(--accent)
  );
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.intro .image-others .my-image {
  width: 100%;
  height: 100%;
  transition: all 3s linear;
}

.intro .image-others .my-image:hover {
  transform: scale(1.2);
}

/*=========================================================MEDIA QUERY====================================================*/
@media (max-width: 992px) {
  .intro .image-others {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
  }

  .intro .image-others .my-image-wrapper {
    border-radius: 30px;
    height: 40vh;
    width: 40vh;
  }
}

@media (max-width: 601px) {
  .intro .image-others {
    flex-direction: column;
    align-items: center;
  }

  .intro .image-others .my-image-wrapper {
    border-radius: 30px;
    height: 35vh;
    width: 35vh;
  }
}

@media (max-width: 400px) {
  .intro .image-others .my-image-wrapper {
    border-radius: 30px;
    height: 35vh;
    width: 35vh;
  }
}
