.contacts-wrapper .section-main-content {
  margin-top: 20px;
}

.contacts-wrapper .section-main-content .each-category {
  margin-top: 30px;
  padding: 0 150px;
}

.contacts-wrapper .section-main-content .each-card-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.contacts-wrapper .section-main-content .each-card-wrapper .contact-list {
  display: flex;
  flex-direction: column;
}

.contacts-wrapper .section-main-content .each-card-wrapper .contact-list div {
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  padding: 15px 35px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
  background-color: var(--accent);
}

.contacts-wrapper
  .section-main-content
  .each-card-wrapper
  .contact-list
  div
  span:nth-child(1) {
  font-size: 1.2rem;
}

.contacts-wrapper
  .section-main-content
  .each-card-wrapper
  .contact-list
  div
  > a {
  color: var(--primary);
  margin-top: 10px;
}

.contacts-wrapper .section-main-content .each-card-wrapper .send-message .info {
  margin-bottom: 10px;
}

.contacts-wrapper .section-main-content .each-card-wrapper .send-message input,
.contacts-wrapper
  .section-main-content
  .each-card-wrapper
  .send-message
  textarea {
  border: none;
  border: solid 1.8px var(--grey);
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--grey);
  padding: 10px 15px;
  font-family: cursive;
  font-size: 0.9rem;
  width: 100%;
}

.contacts-wrapper
  .section-main-content
  .each-card-wrapper
  .send-message
  button {
  border: none;
  background-color: var(--primary);
  font-size: 0.8rem;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.contacts-wrapper
  .section-main-content
  .each-card-wrapper
  .send-message
  button:hover {
  background-color: var(--off-white);
}

/*=========================================================MEDIA QUERY====================================================*/
@media (max-width: 992px) {
  .contacts-wrapper .section-main-content .each-category {
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts-wrapper .section-main-content .each-category {
    padding: 0 50px;
  }
}

@media (max-width: 601px) {
  .contacts-wrapper .section-main-content .each-category {
    grid-template-columns: 1fr;
  }

  .contacts-wrapper .section-main-content .each-category {
    padding: 0 90px;
  }

  .contacts-wrapper .section-main-content .each-card-wrapper {
    flex-direction: column;
  }

  .contacts-wrapper
    .section-main-content
    .each-card-wrapper
    .send-message
    input,
  .contacts-wrapper
    .section-main-content
    .each-card-wrapper
    .send-message
    textarea {
    width: 100%;
  }

  .contacts-wrapper .section-main-content .each-card-wrapper .send-message {
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .contacts-wrapper .section-main-content .each-category {
    padding: 0 20px;
  }
}
